.simpleBtn {
  cursor: pointer;

  text-decoration: none;
  background-color: #121212;
  /* border: 1px solid rgba(18, 18, 18, 01); */

  /* padding: 0 1rem; */

  /* font-size: 1rem; */

  border-radius: 100rem;

  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-in-out;

  z-index: 2;
}

.simpleBtn svg {
  /* min-height: 0.5rem; */
  fill: #ebebeb;
  transition: all 0.3s ease-in-out;
}

.simpleBtn:hover {
  background-color: #121212;
  color: #ebebeb;
}

.simpleBtn:hover svg {
  fill: #ebebeb;
}
