.gridItem {
  /* padding: 1rem; */

  overflow: hidden;

  background-color: rgba(var(--color-primary-100-rgb), 0.1);
  backdrop-filter: blur(16px);

  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--color-white-rgb), 0.1);
}

/* Flex for the item to hold in a column flow a header and a content */
.flexContainer {
  height: 100%;
  overflow: hidden;

  padding: 1rem;

  display: flex;
  /* gap: 1rem; */
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Grid for the item to hold header content and aside */
.gridContainer {
  height: 100%;
  overflow: hidden;

  display: grid;
  gap: 1rem;
}

.gridItem__header {
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.gridItem__header h3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 110%;
}

/* Styles for Select about me component */
.aboutMe {
  grid-area: about;
}

/* Styles for Select theme component */
.colorTheme {
  grid-area: theme;

  position: relative;
  min-width: 260px;
  overflow: hidden;
}

.colorTheme__content {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  align-items: center;
}

.colorTheme__content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(var(--color-white-rgb), 0.8);
}

.colorTheme__MoonSun {
  position: absolute;
  top: -47px;
  right: -48px;
  width: 192px;
  height: 192px;
  background: var(--moon-sun-background);
  border-radius: 100rem;
  z-index: -1;
}

/* Styles for My Location theme component */
.myLocation {
  position: relative;
  overflow: hidden;

  grid-area: location;

  min-width: 260px;
}

.myLocation[data-time="night"] {
  background-color: #434343;

  --weather-text-color: #ebebeb;
  --weather-text-color-rgb: 235, 235, 235;
  --weather-bg-color: #121212;
  --weather-moon-sun-background: linear-gradient(
    45deg,
    rgba(var(--color-secondary-300-rgb), 0.1) 30%,
    var(--color-secondary-300)
  );
  --weather-cloud-top-bg: #7c7c7c;
  --weather-cloud-bottom-bg: #535353;
}

.myLocation[data-time="day"] {
  background-color: var(--color-secondary-300);

  --weather-text-color: #121212;
  --weather-text-color-rgb: 18, 18, 18;
  --weather-bg-color: #ebebeb;
  --weather-moon-sun-background: linear-gradient(
    90deg,
    rgba(223, 191, 94, 0.1),
    #dfbf5e 80%
  );
  --weather-cloud-top-bg: #ebebeb;
  --weather-cloud-bottom-bg: #c0c0c0;
}

.myLocation .gridItem__header h3 {
  color: var(--weather-text-color);
}

.myLocation__tempCity {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.myLocation__tempCity___temp {
  font-size: 4rem;
  font-weight: 500;
  color: var(--weather-text-color);
}

.myLocation__tempCity___city {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(var(--weather-text-color-rgb), 0.8);
}

.myLocation__extraInfo {
  background-color: var(--weather-bg-color);
  border-radius: 100rem;
  border: 1px solid rgba(var(--weather-text-color-rgb), 0.1);

  height: 50px;
  width: 194px;
  padding: 0.5rem 1.25rem;

  align-self: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myLocation__extraInfo___details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.myLocation__extraInfo___details p {
  font-size: 1rem;
  color: var(--weather-text-color);
}

.myLocation__extraInfo___details p:last-child {
  font-size: 1rem;
  color: rgba(var(--weather-text-color-rgb), 0.6);
}

.myLocation__MoonSun {
  position: absolute;
  top: -47px;
  left: -48px;
  width: 192px;
  height: 192px;
  background: var(--weather-moon-sun-background);
  border-radius: 100rem;
  z-index: -1;
}

.myLocation__LeftCloud {
  position: absolute;
  top: 40px;
  left: -150px;

  width: 150px;
  height: 100px;

  z-index: -1;
}

.myLocation__LeftCloud svg {
  fill: url(#gradient);
}

.myLocation__RightCloud {
  position: absolute;
  top: 20px;
  right: -150px;

  width: 150px;
  height: 100px;

  z-index: -1;
}

.myLocation__RightCloud svg {
  fill: url(#gradient);
}

.myLocation__LeftCloud___topGradient {
  stop-color: var(--weather-cloud-top-bg);
}

.myLocation__LeftCloud___bottomGradient {
  stop-color: var(--weather-cloud-bottom-bg);
}

.myLocation__effectContainer {
  position: absolute;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
}

.myLocation__effectContainer .drop {
  position: absolute;
  opacity: 0;
  height: 1rem;
  width: 2px;
  border-radius: 1px;
  background: linear-gradient(to bottom, transparent, #ebebeb);
  animation: rain-animation 0.3s linear infinite;
  z-index: -1;
}

.myLocation__effectContainer .flakes {
  position: absolute;
  opacity: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100rem;
  background-color: #ebebeb;
  animation: snow-animation 1.5s linear infinite;
  z-index: -1;
}

@keyframes rain-animation {
  0% {
    transform: translate(0%, 0%) rotate(5deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translate(-1200%, 1500%) rotate(5deg);
    opacity: 0;
  }
}

@keyframes snow-animation {
  0% {
    transform: translate(0%, 0%);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translate(0%, 2000%);
    opacity: 0;
  }
}

/* Styles for Projects theme component */
.projects {
  border: none;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.projects__content {
  display: flex;
  gap: 2rem;
  flex-flow: column nowrap;
}

.projects__contentDesc {
  display: flex;
  gap: 0.5rem;
  flex-flow: column nowrap;
}

.projects__contentDesc h2 {
  color: #121212;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 120%;
}

.projects__contentDesc p {
  color: rgba(18, 18, 18, 0.8);
  font-weight: 400;
  font-size: 1rem;
}

.projects__contentFooter {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
}

.projects__contentFooter___pills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects__contentFooter___pills ul {
  list-style: none;

  padding: 0 1rem;

  height: 2.5rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  background-color: #121212;
}

.projects__contentFooter___pills ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__contentFooter___pills svg {
  height: 24px;
}

.projects__contentFooter___image {
  padding-left: 1rem;
  overflow: hidden;

  max-height: 290px;
}

.projects__contentFooter___image img {
  object-fit: cover;
  object-position: top left;

  border-radius: 0.5rem 0 0 0;

  height: 290px;
  width: 100%;
}

/* Styles for Skills theme component */
.skills {
  grid-area: skills;
}

@media only screen and (min-width: 600px) {
  .flexContainer {
    padding: 2rem;
  }

  .projects__contentFooter___image {
    padding-left: 2rem;
  }
}
