.gridItem {
  padding: 1rem;

  background-color: rgba(var(--color-primary-100-rgb), 0.1);
  backdrop-filter: blur(16px);

  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--color-primary-100-rgb), 0.1);
}

/* Flex for the item to hold in a column flow a header and a content */
.flexContainer {
  height: 100%;
  overflow: hidden;

  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Grid for the item to hold header content and aside */
.gridContainer {
  height: 100%;
  overflow: hidden;

  display: grid;
  gap: 1rem;
}

.aboutMe {
  grid-area: about;
}

.colorTheme {
  grid-area: theme;

  min-width: 260px;
}

.colorTheme__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.colorTheme__header h3 {
  font-weight: 400;
  font-size: 1rem;
}

.colorTheme__content {
  height: 100%;
  width: 100%;
  background-color: red;
}

.myLocation {
  grid-area: location;

  min-width: 260px;
  background-color: var(--color-secondary-300);
}

.projects {
  grid-area: projects;
}

.skills {
  grid-area: skills;
}

@media only screen and (min-width: 600px) {
  .gridItem {
    padding: 2rem;
  }
}
