.chat {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 20rem;

  border-radius: 0.5rem;

  overflow: hidden;
}

.chat__header {
  cursor: pointer;
  background-color: var(--color-primary-300);
  border-radius: 0.5rem;

  height: 3rem;

  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 0.2s 0.1s;
}

.halfRoundedCorners {
  border-radius: 0.5rem 0.5rem 0 0;
}

.rotateSVG {
  transform: rotateX(0) !important;
}

.chat__header span {
  color: #121212;
  font-weight: 500;
  font-size: 1rem;
}

.chat__header svg {
  fill: #121212;
  width: 0.75rem;
  transform-origin: center center;
  transform: rotateX(-180deg);
}

.chat__body {
  background-color: var(--color-black);

  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px solid rgba(var(--color-white-rgb), 0.1);

  min-height: 400px;
  max-height: 400px;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.chat__body___content {
  background-color: var(--color-black);

  flex-grow: 1;
  padding: 1rem;

  overflow-y: auto scroll;
  overflow-x: hidden;
}

.chat__body___footer {
  background-color: rgba(var(--color-white-rgb), 0.2);

  height: 3rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.showChat {
  animation: showChat 0.1s ease-in forwards;
}

.hideChat {
  animation: hideChat 0.1s ease-out forwards;
}

@keyframes showChat {
  0% {
    height: 0%;
    opacity: 0;
  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes hideChat {
  0% {
    height: 100%;
    opacity: 1;
  }

  100% {
    height: 0%;
    opacity: 0;
  }
}
