.chat {
  position: absolute;
  top: var(--navbar-height);
  right: 1rem;
  height: 320px;
  width: 320px;

  padding: 1rem;
  opacity: 1;

  border: 1px solid rgba(var(--color-white-rgb), 0.1);
  border-top: none;

  background-color: var(--color-black);

  border-radius: 0 0 1rem 1rem;

  animation: chat-slide 0.2s;
}

@keyframes chat-slide {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
