.chat {
  position: absolute;
  top: var(--navbar-height);
  right: 1rem;
  height: 320px;
  width: 320px;

  padding: 1rem;

  border: 1px solid rgba(var(--color-white-rgb), 0.1);
  border-top: none;

  background-color: var(--color-black);

  border-radius: 0 0 1rem 1rem;
}
