/* later on change to grid-template-areas */
.grid {
  background-color: transparent;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: calc(4rem + var(--navbar-height)) 1rem;

  display: grid;
  gap: 1rem;

  grid-auto-rows: 264px;
  grid-template-areas:
    "about"
    "about"
    "theme"
    "location"
    "projects"
    "projects"
    "skills";
}

@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "about about about theme"
      "about about about location"
      "projects projects projects projects"
      "projects projects projects projects"
      "skills skills skills skills";
  }
}
