.hamburger {
  cursor: pointer;
  height: 1.25rem;
  width: 1.625rem;
  border: none;

  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;

  background-color: transparent;
}

.hamburger__span {
  display: block;
  width: 100%;
  height: 0.125rem;
  border-radius: 1px;
  background-color: var(--color-white);

  transition: all 0.15s ease-in-out;
}

.hamburger__span:first-child {
  transform-origin: right top;
}

.hamburger__span:last-child {
  transform-origin: right bottom;
}

.hamburger[aria-expanded="true"] .hamburger__span:first-child {
  transform: rotate(-45deg);
}

.hamburger[aria-expanded="true"] .hamburger__span:nth-child(2) {
  transform: translateX(16px);
  opacity: 0;
}

.hamburger[aria-expanded="true"] .hamburger__span:last-child {
  transform: rotate(45deg);
}

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}
