.mainNavbar {
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 1px solid rgba(var(--color-primary-100-rgb), 0.1);

  background-color: rgba(var(--color-black-rgb), 0.4);
  backdrop-filter: blur(10px);

  /* font-family: var(--font-roboto); */
  z-index: 9999;
}

.mainNavbar__container {
  max-width: var(--max-width);
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.mainNavbar__desktopNavbar {
  display: none;
}

.mainNavbar__container___ul {
  list-style: none;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  align-items: start;
}

.mainNavbar__container___ul li {
  width: 100%;
}

.mainNavbar__container___link {
  text-decoration: none;
  padding: 0 1rem;

  color: var(--color-white);
  font-size: 1rem;
  border-radius: 10rem;
  font-weight: 400;
  line-height: 1.25rem;

  width: 100%;
  display: block;

  transition: all 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .mainNavbar__container___link:hover {
    background-color: var(--color-primary-100);
    color: var(--color-black);
  }
}

/* moible devices */
@media only screen and (min-width: 600px) {
  .mainNavbar__desktopNavbar {
    width: 100%;

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .mainNavbar__container___ul {
    gap: 0.5rem;
    align-items: center;
    flex-flow: row nowrap;
  }

  .mainNavbar__container___ul li {
    width: auto;
  }

  .mainNavbar__container___link {
    padding: 0.5rem 1rem;
  }
}
